### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def get_unique_items(input_list):
  return list(set(input_list))

l = [1,2,3,3,3,3,4,5]
get_unique_items(l)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
def sort_alphabetically(input_string):
    return '-'.join(sorted(input_string.split('-')))

input_string = 'green-red-yellow-black-white'
print(sort_alphabetically(input_string))

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
def count_upper_lower(input_string):
    upper_count = 0
    lower_count = 0
    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return f'No. of Upper case characters : {upper_count}\nNo. of Lower case Characters : {lower_count}'

input_string = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
print(count_upper_lower(input_string))

No. of Upper case characters : 9
No. of Lower case Characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
print(list(filter(lambda x:True if x%2==0 else False,[1, 2, 3, 4, 5, 6, 7, 8, 9])))

def is_even(x):
    return x % 2 == 0

even_numbers = list(filter(is_even, [1, 2, 3, 4, 5, 6, 7, 8, 9]))
print(even_numbers)

[2, 4, 6, 8]
[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
def is_perfect_number(n):
    sum_of_divisors = 0
    for i in range(1, n // 2 + 1):
        if n % i == 0:
            sum_of_divisors += i

    return sum_of_divisors == n

num = 27
if is_perfect_number(num):
    print(f"{num} is a perfect number.")
else:
    print(f"{num} is not a perfect number.")

27 is not a perfect number.

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
def concatenate_dicts(*dicts):
    result = {}
    for d in dicts:
        result.update(d)
    return result

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print(concatenate_dicts(dic1, dic2, dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
def most_frequent_word(input_string):
    word_counts = {}
    for word in input_string.split():
        word_counts[word] = word_counts.get(word, 0) + 1

    max_word = max(word_counts, key=word_counts.get)
    return max_word, word_counts[max_word]

input_string = "hello how are you i am fine thank you"
word, count = most_frequent_word(input_string)
print(f'{word} -> {count}')

you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
def histogram(input_list):
    bins = {
        "11-20": 0,
        "21-30": 0,
        "31-40": 0,
        "41-50": 0
    }
    for num in input_list:
        if 11 <= num <= 20:
            bins["11-20"] += 1
        elif 21 <= num <= 30:
            bins["21-30"] += 1
        elif 31 <= num <= 40:
            bins["31-40"] += 1
        elif 41 <= num <= 50:
            bins["41-50"] += 1
    return bins

input_list = [13, 42, 15, 37, 22, 39, 41, 50]
print(histogram(input_list))

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [1]:
def nearest_point(coordinates, query_point):
    min_distance = float('inf')
    nearest_point = None
    for x, y in coordinates:
        distance = ((x - query_point[0]) ** 2 + (y - query_point[1]) ** 2) ** 0.5
        if distance < min_distance:
            min_distance = distance
            nearest_point = (x, y)

    return nearest_point

coordinates = [(1, 1), (2, 2), (3, 3), (4, 4)]
query_point = (0, 0)
print(nearest_point(coordinates, query_point))

(1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [2]:
def bag_of_words(input_list):
    word_counts = {}
    for string in input_list:
        words = string.split()
        for word in words:
            word_counts[word] = word_counts.get(word, 0) + 1
    return word_counts

input_list = [
    "This is a sample sentence.",
    "The quick brown fox jumps over the lazy dog."
]
print(bag_of_words(input_list))

{'This': 1, 'is': 1, 'a': 1, 'sample': 1, 'sentence.': 1, 'The': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'the': 1, 'lazy': 1, 'dog.': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [3]:
def add_lists(list1, list2, list3):
    return list(map(lambda x, y, z: x + y + z, list1, list2, list3))

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
print(add_lists(list1, list2, list3))

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [5]:
def power_of_list(input_list):
    result = list(map(lambda x, y: x ** y, input_list, range(len(input_list))))
    # Replace the last element with '-'
    result[-1] = '-'
    return result

list1 = [1, 2, 3, 4, 5, 6]
print(power_of_list(list1))

[1, 2, 9, 64, 625, '-']

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [6]:
def filter_vowels(input_string):
    vowels = 'aeiou'
    return ''.join(list(filter(lambda x:True if x.lower() in vowels else False,input_string)))

input_string = "Hello, World!"
print(filter_vowels(input_string))

eoo

`Problem-14`: Use reduce to convert a 2D list to 1D

In [9]:
from functools import reduce

def flatten_2d_list(input_list):
    return reduce(lambda x, y: x + y, input_list)

list_2d = [[1, 2], [3, 4], [5, 6]]
flatten_2d_list(list_2d)

[1, 2, 3, 4, 5, 6]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']

In [10]:
# List of employee dictionaries
employees = [
    {
        'fname': 'Nitish',
        'lname': 'Singh',
        'age': 33,
        'grade': 'skilled'
    },
    {
        'fname': 'Ankit',
        'lname': 'Verma',
        'age': 34,
        'grade': 'semi-skilled'
    },
    {
        'fname': 'Neha',
        'lname': 'Singh',
        'age': 35,
        'grade': 'highly-skilled'
    },
    {
        'fname': 'Anurag',
        'lname': 'Kumar',
        'age': 30,
        'grade': 'skilled'
    },
    {
        'fname': 'Abhinav',
        'lname': 'Sharma',
        'age': 37,
        'grade': 'highly-skilled'
    }
]

highly_skilled_employees = list(
    map(lambda emp: emp['fname'] + ' ' + emp['lname'],
        filter(lambda emp: emp['grade'] == 'highly-skilled', employees))
)

print(highly_skilled_employees)

['Neha Singh', 'Abhinav Sharma']