### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code
annual_salary = float(input("Enter your annual salary in Lakhs: "))
monthly_salary = annual_salary * 100000 / 12
HAR = monthly_salary * 0.1
DA = monthly_salary * 0.05
PF = monthly_salary * 0.03
total_deductions_before_tax = monthly_salary - (HAR + DA + PF)

if annual_salary < 5:
    tax_rate = 0
elif 5>= annual_salary < 10:
    tax_rate = 0.1
elif 10>= annual_salary < 20:
    tax_rate = 0.2
else:
    tax_rate = 0.3

tax = (monthly_salary - total_deductions_before_tax) * tax_rate
total_deductions = total_deductions_before_tax + tax
in_hand_monthly_salary = monthly_salary - total_deductions
print("In hand monthly salary: ", in_hand_monthly_salary)

Enter your annual salary in Lakhs: 30
In hand monthly salary:  31500.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
a = int(input("Enter the first angle: "))
b = int(input("Enter the second angle: "))
c = int(input("Enter the third angle: "))

if a + b + c == 180:
    print("It can form a triangle")
else:
    print("It cannot form a triangle")

Enter the first angle: 70
Enter the second angle: 80
Enter the third angle: 30
It can form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cost_price = float(input('Enter the cost pricee: '))
selling_price = float(input('Enter the selling price: '))


if cost_price < selling_price:
    print('profit')
else:
    print('loss')

Enter the cost pricee: 190000
Enter the selling price: 200000
profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
user_input = input('''
                        1. cm to ft
                        2. km to miles
                        3. USD to INR
                        4. exit
                ''')


if user_input == '1':
    cm = float(input('Enter the length in cm: '))
    ft = cm / 30.48
    print(f'{cm} cm = {ft} ft')
elif user_input == '2':
    km = float(input('Enter the length in km: '))
    miles = km / 1.609
    print(f'{km} km = {miles} miles')
elif user_input == '3':
    usd = float(input('Enter the amount in USD: '))
    inr = usd * 85
    print(f'{usd} USD = {inr} INR')

elif user_input == '4':
    print('Exiting...')
else:
    print('Invalid input')

                        1. cm to ft
                        2. km to miles
                        3. USD to INR
                        4. exit
                8
Invalid input

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
# fib_series = [0, 1]
# while len(fib_series) < 10:
#     next_num = fib_series[-1] + fib_series[-2]
#     fib_series.append(next_num)
# print(fib_series)

terms = 10
n1, n2 = 0, 1

for _ in range(terms):
    print(n1, end=' ')
    n1, n2 = n2, n1 + n2

0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
num = int(input('Enter a number: '))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print(factorial)

Enter a number: 0
1

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
num = 76542
rev = 0
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10
print(rev)

24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here
n = int(input('Enter a number: '))
sum = 0
i = 1

while i <= n:
    if i % 5 == 0:
        i += 1
        continue
    if sum + i > 300:
        break
    sum += i
    i += 1

print(sum)

Enter a number: 30
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
sum = 0
count = 0

while True:
    number = int(input('Enter a number: '))
    if number == 0:
        break
    sum += number
    count += 1

if count > 0:
    average = sum / count
else:
    average = 0

print(sum)
print(average)

Enter a number: 10
Enter a number: 20
Enter a number: 30
Enter a number: 0
60
20.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [24]:
# Write code here
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i, end=', ')

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [26]:
# Write code here
for num in range(1000, 3001):
    if all(int(digit) % 2 == 0 for digit in str(num)):
        print(num, end=' ')

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [38]:
# Write code here
import math

x, y = 0, 0

while True:
    command = input().strip()

    if command == '!':
        break

    direction, steps = command.split()
    steps = int(steps)

    if direction == 'UP':
        y += steps
    elif direction == 'DOWN':
        y -= steps
    elif direction == 'LEFT':
        x -= steps
    elif direction == 'RIGHT':
        x += steps

distance = math.sqrt(x**2 + y**2)
print(round(distance))

UP 5
DOWN 3
LEFT 3
RIGHT 2
!
2

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [29]:
# Write code here
n = int(input('Enter a number: '))
if n > 1:
    for i in range(2, n):
        if n % i == 0:
            print(n, 'is not a prime number')
            break
    else:
        print(n, 'is a prime number')

Enter a number: 6
6 is not a prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [31]:
# Write code here
n = int(input('Enter a number: '))
for i in range(1, n):
    sum = 0
    temp = i
    while temp > 0:
        digit = temp % 10
        sum += digit ** 3
        temp //= 10
    if i == sum:
        print(i, end=' ')

Enter a number: 407
1 153 370 371

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [33]:
# Write code here
hours = int(input('Enter the hours: '))
minutes = int(input('Enter the minutes: '))
minute_angle = (minutes / 60) * 360
hour_angle = ((hours % 12) / 12) * 360
angle = abs(minute_angle - hour_angle)

if angle > 180:
    angle = 360 - angle
print(int(angle))

Enter the hours: 9
Enter the minutes: 0
90

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [40]:
# Write code here
def is_overlapping(L1, R1, L2, R2):
    if L1[0] > R2[0] or L2[0] > R1[0]: return False
    if L1[1] < R2[1] or L2[1] < R1[1]: return False
    return True