###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [8]:
# Write code here
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
[[list1[i],list2[i]] for i in range(len(list1))]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [9]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [13]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
result = [candy_list[i] + '-' + str(no_of_items[i]) for i in range(len(candy_list))]

for get in result:
    print(get)

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [14]:
# Write code here
list1 = [1, 2, 3, 4, 5, 6]
result = [sum(list1[:i+1]) for i in range(len(list1))]
result

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [18]:
L = [2, 4, 6, 10, 1]
result = [sum(x for x in L if x >= L[i]) for i in range(len(L))]
result

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [30]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

unique_items = sorted([item for item in num1 if item in num2])
unique_items

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [34]:
# Write code here
def product_value(string):
    product = 1
    for char in string:
        if char.isdigit():
            product *= int(char)
        else:
            product *= 1
    return product

sttring = ['1ac21', '23fg', '456', '098d','1','kls']
sorted(sttring, key=product_value, reverse=True)

['456', '23fg', '1ac21', '1', 'kls', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [36]:
# Write code here
input_list = ['CampusX is a channel', 'for data-science', 'aspirants.']
output_list = [word for phase in input_list for word in phase.split()]
output_list

# output_list = []
# for phase in input_list:
#     words = phase.split()
#     for word in words:
#         output_list.append(word)

# output_list

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [45]:
# Write code here
input_string = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
output_string = ' '.join([''.join(phase) for phase in input_string])
for get in output_string:
    print(get, end='')


# output_string = ''
# for phase in input_string:
#     output_string += ''.join(phase) + ' '
# output_string = output_string.strip()
# for char in output_string:
#     print(char, end='')

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [51]:
input_list = ['campusxIs', 'bestFor', 'dataScientist']
import re
output_list = [' '.join([word if word.isupper() else word for word in re.findall(r'[A-Z]?[a-z]+', phrase)]) for phrase in input_list]
output_list

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [57]:
list1 = [1,2,3,4,5,1]
list2 = [2,3,5,7,8]
output_list = sorted(set(list1).union(set(list2)))
output_list

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [58]:
# Write code here
input_list = [[1,2,3],[4,5,6],[7,8,9]]
output_list = [max(row) for row in input_list]
output_list

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [59]:
# Write code here
[[i+j for i in range(3)] for j in range(3)]

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [61]:
# Write code here
matrix = [[1,2,3],
        [4,5,6],
        [7,8,9]]

transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
for get in transpose:
    print(get)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
# Write code here
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]
]
flatten = [item for sublist in matrix for item in sublist]
flatten

[1, 2, 3, 4, 5, 6, 7, 8, 9]