# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [8]:
# Write your code here
print("Data", "Science", "Mentorship", "Program", "started", "By", "CampusX", sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [9]:
# Write your code here
celcious = 37
farhenheit = (celcious * 9/5) + 32
print(farhenheit)

98.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [10]:
# Write your code here
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
num1, num2 = num2, num1
print('First number: ', num1)
print('Second number: ', num2)

Enter first number: 5
Enter second number: 7
First number:  7
Second number:  5

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [11]:
# Write your code here
pts1 = float(input('Enter first point: '))
pts2 = float(input('Enter second point: '))
euclidean = ((pts1 - pts2)**2)**0.5
# euclidean = abs(pts1 - pts2)
print(euclidean)

Enter first point: 9
Enter second point: 5
4.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [12]:
# Write your code here
P = float(input('Enter principle: '))
T = float(input('Enter time period: '))
R = float(input('Enter rate of interest: '))
SI = (P*T*R)/100
print(SI)

Enter principle: 100
Enter time period: 5
Enter rate of interest: 12
60.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [13]:
# Write your code here
heads = int(input('Enter number of heads: '))
legs = int(input('Enter number of legs: '))
dogs = (legs - 2*heads)/2
chicken = heads - dogs
print('Dogs: ', int(dogs))
print('Chicken: ', int(chicken))

Enter number of heads: 4
Enter number of legs: 12
Dogs:  2
Chicken:  2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [14]:
# Write your code here
n = int(input('Enter number: '))
sum = (n*(n+1)/2)**2
print(sum)

Enter number: 5
225.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [15]:
# Write your code here
a1 = int(input('Enter first term: '))
a2 = int(input('Enter second term: '))
n = int(input('Enter nth term: '))
nth = a1 + (n - 1) * a2
print(nth)

Enter first term: 7
Enter second term: 9
Enter nth term: 10
88

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [16]:
# Write your code here
frac1 = int(input('Enter numerator of first fraction: '))
den1 = int(input('Enter denominator of first fraction: '))
frac2 = int(input('Enter numerator of second fraction: '))
den2 = int(input('Enter denominator of second fraction: '))
num = frac1*den2 + frac2*den1
den = den1*den2
sum = num/den
print(sum)

Enter numerator of first fraction: 3
Enter denominator of first fraction: 4
Enter numerator of second fraction: 4
Enter denominator of second fraction: 5
1.55

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [17]:
# Write your code here
height = int(input('Enter height of milk tank in centimeters: '))
width = int(input('Enter width of milk tank in centimeters: '))
breadth = int(input('Enter breadth of milk tank in centimeters; '))
glass_height = int(input('Enter height of glass in centimeters: '))
glass_radius = int(input('Enter radius of glass in centimeters: '))
tank_volume = height * width * breadth
glass_volume = 22/7 * glass_radius**2 * glass_height
print(tank_volume/glass_volume)

Enter height of milk tank in centimeters: 20
Enter width of milk tank in centimeters: 20
Enter breadth of milk tank in centimeters; 20
Enter height of glass in centimeters: 3
Enter radius of glass in centimeters: 1
848.4848484848485