## Sleep Efficiency Dataset
For questions 1-5, you can find the dataset and details about it from [here](https://www.kaggle.com/datasets/equilibriumm/sleep-efficiency).

`ID`
a unique identifier for each test subject

`Age`
age of the test subject

`Gender`
male or female

`Bedtime`
the time the test subject goes to bed each night

`Wakeup time`
the time the test subject wakes up each morning

`Sleep duration`
the total amount of time the test subject slept (in hours)

`Sleep efficiency`
a measure of the proportion of time in bed spent asleep

`REM sleep percentage`
the percentage of total sleep time spent in REM sleep

`Deep sleep percentage`
the percentage of total sleep time spent in deep sleep

`Light sleep percentage`
the percentage of total sleep time spent in light sleep

`Awakenings`
the number of times the test subject wakes up during the night

`Caffeine consumption`
the amount of caffeine consumed in the 24 hours prior to bedtime (in mg)

`Alcohol consumption`
the amount of alcohol consumed in the 24 hours prior to bedtime (in oz)

`Smoking status`
whether or not the test subject smokes

`Exercise frequency`
the number of times the test subject exercises each week

### **`Problem 1:`** Find out the average sleep duration of top 15 male candidates who's sleep duration are equal to 7.5 or greater than 7.5



### **`Problem 2:`** Show avg deep sleep time for both gender. Round result at 2 decimal places.

Note: sleep time and deep sleep percentage will give you, deep sleep time.


### **`Problem 3:`**


**The question is:**

Find out the lowest 10th to 30th light sleep percentage records where deep sleep percentage values are between 25 to 45. Display age, light sleep percentage and deep sleep percentage columns only.



### `Problem 4:` Group by on exercise frequency and smoking status and show average deep sleep time, average light sleep time and avg rem sleep time.

* Note the differences in deep sleep time for smoking and non smoking status



### `Problem 5:` Group By on Awekning and show AVG Caffeine consumption, AVG Deep sleep time and AVG Alcohol consumption only for people who do exercise atleast 3 days a week. Show result in descending order awekenings

In [ ]:
1.  -- SELECT AVG(`Sleep duration`) AS AvgSleepDuration
    -- FROM campus.sleep_efficiency
    -- WHERE Gender = 'Male' AND `Sleep duration` >= 7.5
    -- ORDER BY `Sleep duration` DESC LIMIT 15 (this query is wrong)

    SELECT AVG(`Sleep duration`) AS AvgSleepDuration
    FROM (
        SELECT `Sleep duration`
        FROM campus.sleep_efficiency
        WHERE Gender = 'Male' AND `Sleep duration` >= 7.5
        ORDER BY `Sleep duration` DESC
        LIMIT 15
    ) AS Top15Males;

2.  -- Deep sleep time = Sleep duration * (Deep sleep percentage / 100)

    SELECT Gender, ROUND(AVG(`Sleep duration` * (`Deep sleep percentage` / 100)), 2)
    AS AvgDeepSleepTime
    FROM campus.sleep_efficiency
    GROUP BY Gender

3.  SELECT Age, `Light sleep percentage`, `Deep sleep percentage`
    FROM campus.sleep_efficiency
    WHERE `Deep sleep percentage` BETWEEN 25 AND 45
    ORDER BY `Light sleep percentage` ASC
    LIMIT 20 OFFSET 9

4.  SELECT `Exercise frequency`, `Smoking status`,
            ROUND(AVG(`Sleep duration` * (`Deep sleep percentage` / 100)), 2) AS AvgDeepSleepTime,
            ROUND(AVG(`Sleep duration` * (`Light sleep percentage` / 100)), 2) AS AvgLightSleepTime,
            ROUND(AVG(`Sleep duration` * (`REM sleep percentage` / 100)), 2) AS AvgREMSleepTime
    FROM campus.sleep_efficiency
    GROUP BY `Exercise frequency`, `Smoking status`

5.  SELECT Awakenings,
        ROUND(AVG(`Caffeine consumption`), 2) AS AvgCaffeineConsumption,
        ROUND(AVG(`Sleep duration` * (`Deep sleep percentage` / 100)), 2) AS AvgDeepSleepTime,
        ROUND(AVG(`Alcohol consumption`), 2) AS AvgAlcoholConsumption
    FROM campus.sleep_efficiency
    WHERE `Exercise frequency` >= 3
    GROUP BY Awakenings
    ORDER BY Awakenings DESC

## Power Generation Dataset

For this question, you can find the details as well as the dataset from [here](https://www.kaggle.com/datasets/arvindnagaonkar/power-generation-data).

### **`Problem 6:`**



**The question is:**

Display those power stations which have average 'Monitored Cap.(MW)' (display the values) between 1000 and 2000 and the number of occurance of the power stations (also display these values) are
greater than 200. Also sort the result in ascending order.

In [ ]:
SELECT `Power Station`, AVG(`Monitored Cap.(MW)`) AS AvgMonitoredCap,
		COUNT(`Power Station`) AS Occurrences
FROM campus.powergeneration
GROUP BY `Power Station`
HAVING  AVG(`Monitored Cap.(MW)`) BETWEEN 1000 AND 2000 AND COUNT(`Power Station`) > 200
ORDER BY `Power Station` ASC

## Avg Cost of Undergrad College by State(USA) Dataset-
For this question, you can find the detailed dataset from [here](https://www.kaggle.com/datasets/kfoster150/avg-cost-of-undergrad-college-by-state).

`Year`
The Digest year this information comes from

`State`
The U.S. State

`Type`
Type of University, Private or Public and in-state or out-of-state. Private colleges charge the same for in/out of state

`Length`
Whether the college mainly offers 2-year (Associates) or 4-year (Bachelors) programs

`Expense`
The Expense being described, tuition/fees or on-campus living expenses

`Value`
The average cost for this particular expense, in USD ($)

### **`Problem 7:`**



**The question is:**

Display top 10 lowest "value" State names of which the Year either belong to 2013 or 2017 or 2021 and type is 'Public In-State'. Also the number of occurance should be between 6 to 10. Display the average value upto 2 decimal places, state names and the occurance of the states.


###`Problem -8:` Best state in terms of low education cost (Tution Fees) in 'Public' type university.



### `Problem 9:` 2nd Costliest state for Private education in year 2021. Consider, Tution and Room fee both.

In [ ]:
7.  SELECT State, ROUND(AVG(Value), 2) AS AvgValue, COUNT(State) AS Occurrences
    FROM campus.undergrad_college_cost
    WHERE Year IN (2013, 2017, 2021) AND Type = 'Public In-State'
    GROUP BY State
    HAVING Occurrences BETWEEN 6 AND 10
    ORDER BY AvgValue ASC
    LIMIT 10

8.  SELECT  State, ROUND(AVG(`Value`), 2) AS AvgTuitionFees
    FROM campus.undergrad_college_cost
    WHERE Type LIKE 'Public%' AND Expense = 'Fees/Tuition'
    GROUP BY State
    ORDER BY AvgTuitionFees ASC
    LIMIT 1;

9.  SELECT State, ROUND(SUM(Value), 2) AS TotalCost
    FROM campus.undergrad_college_cost
    WHERE Type = 'Private' AND Year = 2021 AND Expense IN ('Fees/Tuition', 'Room/Board')
    GROUP BY State
    ORDER BY TotalCost DESC
    LIMIT 1 OFFSET 1;

### **`Problem 10:`**

For this, you can find the dataset from [here]().

**The question is:**

Display total and average values of Discount_offered for all the combinations of 'Mode_of_Shipment' (display this feature) and 'Warehouse_block' (display this feature also) for all male ('M') and 'High' Product_importance. Also sort the values in descending order of Mode_of_Shipment and ascending order of Warehouse_block.

In [ ]:
SELECT Mode_of_Shipment, Warehouse_block, SUM(Discount_offered) AS TotalDiscount,
    ROUND(AVG(Discount_offered), 2) AS AvgDiscount
FROM campus.shipping_ecommerce
WHERE Gender = 'M' AND Product_importance = 'high'
GROUP BY Mode_of_Shipment, Warehouse_block
ORDER BY Mode_of_Shipment DESC, Warehouse_block ASC