## Freedom Ranking for Different Countries

You can get the dataset from [here](https://drive.google.com/drive/folders/1wr0J571rlfexEJ4-de6_tz1QvU-cJ0df?usp=share_link).

Some feature details of the dataset:

| Feature | Description |
| :--: | :-- |
| A | Electoral Process |
| B | Political Pluralism and Participation |
| C | Functioning of Government |
| D | Freedom of Expression and Belief |
| E | Associational and Organizational Rights |
| F | Rule of Law |
| G | Personal Autonomy and Individual Rights |
| CL | Civil Liberties Scores |
| Status | F=Free, PF=Partly Free, NF=Not Free |


###`Q-1` Find out top 10 countries' which have maximum A and D values.


###`Q-2` Find out highest CL value for 2020 for every region. Also sort the result in descending order. Also display the CL values in descending order.

In [ ]:
1.  SELECT ab.Country, ab.A, cd.D, (ab.A + cd.D) AS Total
    FROM tasks.country_ab ab
    JOIN tasks.country_cd cd ON ab.Country = cd.Country
    ORDER BY Total DESC
    LIMIT 10

2.  SELECT Country, MAX(CL) AS MaxCL
    FROM tasks.country_cl cl WHERE  Edition = 2020
    GROUP BY Country
    ORDER BY MaxCL DESC

## Dataset
Data Link-> https://drive.google.com/drive/folders/1bGgNTDy5L_IodNcGHdB_SNCkUI5MUjmY?usp=share_link
Four Tables:
* Customer
* Employee
* Sales
* Products

###`Q-3` Find top-5 most sold products.

### `Q-4:` Find sales man who sold most no of products.

### `Q-5:` Sales man name who has most no of unique customer.

###`Q-6:` Sales man who has generated most revenue. Show top 5.

###`Q-7:` List all customers who have made more than 10 purchases.

### `Q-8` : List all salespeople who have made sales to more than 5 customers.

### `Q-9:` List all pairs of customers who have made purchases with the same salesperson.

In [ ]:
3.  SELECT p.Name, SUM(s.Quantity) AS TotalSold FROM SalesDB.products p
    JOIN SalesDB.sales1 s ON p.ProductID = s.ProductID
    GROUP BY p.Name ORDER BY TotalSold DESC LIMIT 5

4.  SELECT e.FirstName, e.LastName, SUM(s.Quantity) as TotalSold
    FROM SalesDB.sales1 s
    JOIN SalesDB.employees e
    ON e.EmployeeID = s.SalesPersonID
    GROUP BY e.FirstName, e.LastName
    ORDER BY TotalSold DESC LIMIT 1